/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// LAYERS
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
#define DEFAULT 0
#define NUM     1
#define SYM     2
#define NAV     3
#define BT      4
//#define FUNC   3
//#define MEH   3
//#define HYPER   3

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Mod Tap
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
&mt {
    tapping-term-ms = <500>;
};

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Tap Dance
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
/ {
    behaviors {
        hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <400>;
          quick-tap-ms = <0>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
        };

    htl: tap_dance_layer {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_LAYERS_R";
        #binding-cells = <2>;
        tapping-term-ms = <220>;
        quick-tap-ms = <250>;
        flavor = "tap-preferred";
        bindings = <&mo>, <&kp>;
    };

    gqt: global-quick-tap {
        compatible = "zmk,behavior-hold-tap";
        label = "GLOBAL_QUICK_TAP";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        quick-tap-ms = <125>;
        global-quick-tap;
        bindings = <&kp>, <&kp>;
    };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp N2>, <&kp N3>;
        };
    };

};

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Hold-Tap Behavior
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------


// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Combos
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
/ {
  combos {
    compatible = "zmk,combos";

    combo_esc {
      timeout-ms = <50>;
      key-positions = <3 4 5>;
      bindings = <&kp ESC>;
      layers = <0>;
    };

    combo_tab {
      timeout-ms = <50>;
      key-positions = <2 3 4>;
      bindings = <&kp TAB>;
      layers = <0>;
    };

    combo_tab2 {
      timeout-ms = <50>;
      key-positions = <15 16 17>;
      bindings = <&kp TAB>;
      layers = <0>;
    };

    combo_del {
      timeout-ms = <50>;
      key-positions = <7 8>;
      bindings = <&kp DEL>;
      layers = <0>;
    };

    combo_CTRLdel {
      timeout-ms = <50>;
      key-positions = <37 40>;
      bindings = <&kp LC(BSPC)>;
      layers = <0>;
    };

  };
};

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Layer
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------

/ {
        keymap {
                compatible = "zmk,keymap";

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
                default_layer {
                        bindings = <
//      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      |      Q      |     W       |      E      |      R      |     T       |                              |      Y      |     U       |     I       |      O      |     '       | 
&none        &kp Q        &kp W         &kp E          &kp R         &kp T                                         &kp Y         &kp U        &kp I         &kp O        &kp SEMI        &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |      A      |      S      |      D      |      F      |     G       |                              |      H      |     J       |     K       |      L      |     P       |  
&none      &kp A        &hm LGUI S    &hm LALT D    &hm LCTRL F      &kp G                                        &kp H      &hm RCTRL J    &hm RALT K     &hm RGUI L       &kp P        &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |      Z      |      X      |      C      |      V      |      B      |                              |      N      |     M       |     ,       |       .     |      ?      | 
&none     &mt LC(Z) Z   &mt LC(X) X   &mt LC(C) C   &mt LC(V) V      &kp B                                        &kp N         &kp M       &kp COMMA       &kp DOT     &kp QMARK        &none
//      ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┬─────────────╮  ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                |    Enter    |     Num     |    Shift    |  |    Space    |     Bksp    |     ?       |
                                                   &htl SYM RET     &mo NUM     &kp LSHIFT   &mt LC(LS(LALT)) SPACE  &kp BSPC    &htl NAV RET
//                                                ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
                num_layer {
                        bindings = <
//      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      |             |             |      _      |      =      |     5       |                              |      6      |     7       |     8       |      9      |     10      |      
&none       &none        &none       &none         &none         &none                                      &kp N7         &kp N8        &kp N9         &none        &none        &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |      *      |      +      |     17      |                              |      4      |     5       |     6       |      21     |     22      |      
&none       &none        &none         &none        &none         &none                                     &kp N4      &kp N5            &kp N6       &none       &none          &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |      ?      |      ?      |      /      |      -      |     29      |                              |      1      |     2       |     3       |      33     |     34      |      
&none       &none         &none         &none         &none         &none                                    &kp N1         &kp N2          &kp N3       &none     &none        &none
//      ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┬─────────────╮  ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                |      36     |     37      |     38      |  |     39      |      40     |     41      |
                                                     &trans        &trans       &trans              &trans      &trans         &kp N0
//                                                ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯

                        >;
                };

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
                sym_layer {
                        bindings = <

//      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      |      !      |     @       |      #      |       $     |     %       |                              |       ^     |     &       |     *       |      (      |     )       |   
&none      &kp EXCL      &kp AT         &kp HASH     &kp DLLR      &kp PRCNT                                    &kp CARET     &kp AMPS   &kp KP_MULTIPLY &kp LPAR         &kp RPAR    &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |     @       |      $      |             |             |             |                              |       -      |     =      |     [       |      ]      |     \       | 
&none       &trans         &trans         &trans       &trans       &trans                                      &kp MINUS     &kp EQUAL     &kp LBKT      &kp RBKT       &kp BSLH    &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |             |             |             |                              |      _       |     +      |     {       |      }      |     |       |     ~
&none       &trans         &trans        &trans      &trans          &trans                                     &kp UNDER      &kp PLUS      &kp LBRC     &kp RBRC       &kp PIPE     &kp TILDE
//      ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┬─────────────╮  ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                |      36     |     37      |     38      |  |     39      |      40     |     41      |
                                                     &trans        &trans        &trans             &trans        &trans       &trans 
//                                                ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
                nav_layer {
                        bindings = <
//      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      |             |             |             |             |             |                              |             |             |             |             |             |   
&none        &none         &none         &none         &none        &none                                         &none      &kp LC(HOME)     &kp UP      &kp END         &none         &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |             |             |             |                              |             |             |             |      ?      |     ?       | 
&none        &none         &none         &none         &none        &none                                         &none         &kp LEFT      &kp HOME     &kp RIGHT      &none         &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |             |             |             |                              |             |             |             |      ?      |     ?       |
&none        &none         &none         &none         &none        &none                                         &none        &none         &kp DOWN       &none         &none         &none
//      ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┬─────────────╮  ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                |      36     |     37      |     38      |  |     39      |      40     |   BTCLR     |
                                                     &trans        &trans       &trans              &trans        &trans       &trans
//                                                ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
                bt_layer {
                        bindings = <
//      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      |             |             |             |             |             |                              |             |             |             |             |             |   
&none        &none         &none         &none         &none        &none                                         &none        &none         &none         &none         &none         &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |             |             |             |                              |    BT4      |     BT5     |     ?       |      ?      |     ?       | 
&none        &none         &none         &none         &none        &none                                     &bt BT_SEL 3   &bt BT_SEL 4     &none         &none         &none         &none 
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |             |             |             |                              |    BT1      |   BT2       |     BT3     |      ?      |     ?       |
&none        &none         &none         &none         &none        &none                                     &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2         &none         &none         &none
//      ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┬─────────────╮  ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                |      36     |     37      |     38      |  |     39      |      40     |   BTCLR     |
                                                     &trans        &trans       &trans              &trans        &trans     &bt BT_CLR
//                                                ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------

        };
};

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Template and key count
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
//      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      |             |             |      _      |      =      |     5       |                              |      6      |     7       |     8       |      9      |     10      |
//&none        &none         &none         &none         &none        &none                                       &none        &none         &none         &none         &none         &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |             |             |      *      |      +      |     17      |                              |      18     |     19      |     20      |      21     |     22      | 
//&none        &none         &none         &none         &none        &none                                       &none        &none        &none         &none          &none         &none
//      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      |      25     |      26     |      /      |      -      |     29      |                              |      1      |     2       |     3       |      33     |     34      |
//&none        &none         &none         &none         &none        &none                                       &none        &none         &none         &none         &none         &none
//      ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┬─────────────╮  ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                |      36     |     37      |     38      |  |     39      |      40     |     41      |
//                                                    &trans         &trans       &trans            &trans        &trans        &trans
//                                                ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
